.DS_Store
/.build
/Packages
.swiftpm/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
build_libgit2_work/
build_libgit2_output/
Frameworks/
.vscode/
